@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
 
*{
    text-align: center; 
    font-family: "Roboto",Arial, Helvetica, sans-serif; 
    font-size: 20px;  
    transition: .5s;
}

:root{
    --premiere-color: gray;
    --seconde-color: #ffffff;
    --troisieme-color: #03032f;
}
body{
    background:linear-gradient(to bottom, var(--premiere-color), var(--seconde-color)) ;
    background-repeat: no-repeat;
    background-attachment: fixed; 
    position:relative;
    /* overflow: hidden; */
    background-size: 100% 100%;
    padding: 15%; 
} 
button{
    border-radius: 15px;
    border: .5px solid var(--seconde-color);
    background: transparent;
    color:var(--seconde-color); 
    /* font-size:2em; */
    padding: 0 8px;
    /* opacity:0;  */
}
button:hover{
box-shadow: 0 0 10px var(--seconde-color);  
}
button:active{
    color: aqua;
    background: transparent;
    border: .5px solid aqua;
} 
#container>div{
      flex: 1 1 40%;  
      box-sizing: border-box;
      opacity:0; 
      /* border:.5px solid var(--seconde-color); */
      /* margin-left: 1%; */
}
#container{  
    gap: 10%;
      display: flex; /* Met les enfants (les divs) côte à côte */
      flex-wrap: wrap; /* Permet de passer à la ligne sur petits écrans */
      width: 100%;
}
#input{
    height: 30px;
    width: 250px;
    font-size:20px;
    border-radius: 15px;
    margin: 0 0 10px 0;
    border: .5px solid var(--seconde-color);
    color:var(--seconde-color);
    text-shadow: 0 0 5px gray;
    background: transparent; 
}
input::placeholder{
    text-shadow: none;
}
input:focus{
    box-shadow: 0 0 10px    var(--seconde-color);
    outline: none;
}

#result p, #noms p{
    text-shadow: 0 0 10px var(--seconde-color);
}
.fouter{
    position:fixed;
    bottom:0;
    left:0;
    font-size:.5em; 
    text-align: center;
    align-items:center; 
}
.fouter span{
    font-size:1em;
}
.fouter   a{
    text-decoration:none;
    right:2px;
    position:fixed;
    color:black;
    font-size:1em;
}
@media screen and (max-width:620px) {
#container>div{
      flex: 1 1 200px;
}
}